name: Mirror to GitLab
on:
  push:
    branches: ['**']
  workflow_dispatch:
jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Mirror to GitLab
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        run: |
          REPO_NAME="${GITHUB_REPOSITORY#*/}"
          git config --global user.name "GitHub Mirror Bot"
          git config --global user.email "bot@noderr.xyz"
          git remote add gitlab "https://oauth2:${GITLAB_TOKEN}@gitlab.com/Noderrxyz/${REPO_NAME}.git" || \
          git remote set-url gitlab "https://oauth2:${GITLAB_TOKEN}@gitlab.com/Noderrxyz/${REPO_NAME}.git"
          git push gitlab --all --force || true
          git push gitlab --tags --force || true
