name: Backup to Cloudflare R2
on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 */3 * *'
jobs:
  backup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Create and upload backup
        run: |
          git bundle create repo-backup.bundle --all
          aws configure set aws_access_key_id ${{ secrets.R2_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.R2_SECRET_ACCESS_KEY }}
          aws configure set default.region auto
          TIMESTAMP=$(date +%Y%m%d-%H%M%S)
          REPO_NAME="${{ github.repository }}"
          REPO_NAME=${REPO_NAME##*/}
          aws s3 cp repo-backup.bundle s3://noderr-backups/${REPO_NAME}/${REPO_NAME}-${TIMESTAMP}.bundle --endpoint-url ${{ secrets.R2_ENDPOINT }}
